nav {
  background: rgba(76, 0, 255, 0.5);
  width: max-content;
  display: flex;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  bottom: 2rem;
  transform: translate(-50%);
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15);
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  font-size: 1.1rem;
}

nav a:hover {
  background: rgb(98, 0, 255);
}
